*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Fonts variables*/
  --font-family-basic: "Rubik", sans-serif;
  --font-family-second: "Raleway", sans-serif;

  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-36: 36px;
  --font-size-50: 50px;

  --font-style-norm: normal;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-weight-800: 800;

  --letter-spacing-3-2: 3.2px;
  --letter-spacing-3-6: 3.6px;
  --letter-spacing-dec: -0.36px;
  --letter-spacing-4: 4px;

  --text-transform-upper: uppercase;
  --text-decoration-none: none;

  --color-font-footer: #fff;
  --color-font-basic: #000;
  --color-font-second: #444;

  --line-height-20: 20px;
  --line-height-24: 24px;
  --line-height-30: 30px;
  --line-height-50: 50px;

  --opacity-03: 0.3;
  --opacity-05: 0.5;
  --opacity-06: 0.6;

  /* block color variables */
  --background-color-base: #fff;
  --background-color-second: #444;
}

/* Fonts */
@font-face {
  font-family: "Raleway";
  font-style: var(--font-style-norm);
  font-weight: var(--font-weight-800);
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: var(--font-style-norm);
  font-weight: var(--font-weight-400);
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: var(--font-style-norm);
  font-weight: var(--font-weight-700);
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: var(--font-family-basic);
  font-size: var(--font-size-18);
  font-style: var(--font-style-norm);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-30);
  color: var(--color-font-basic);
  background-color: var(--background-color-base);
}

/* Form */
.form-input-search::placeholder {
  font-family: var(--font-family-basic);
  font-size: var(--font-size-16);
  font-style: var(--font-style-norm);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-20);
  opacity: var(--opacity-03);
}

.button {
  font-family: var(--font-family-second);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-800);
  letter-spacing: var(--letter-spacing-3-6);
  text-transform: var(--text-transform-upper);
  text-decoration: var(--text-decoration-none);
  color: inherit;
  text-align: center;
  line-height: normal;

  cursor: pointer;
}

.button-form-search {
  font-family: var(--font-family-basic);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-20);
  text-decoration: var(--text-decoration-none);
  text-align: center;
}

/* user navigation */
.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-list-link,
.navigation-link,
.navigation-catalog-link {
  text-decoration: var(--text-decoration-none);
  color: inherit;
}

/* Slider */
.title {
  font-family: var(--font-family-second);
  font-size: var(--font-size-50);
  font-weight: var(--font-weight-800);
  line-height: var(--line-height-50);
}

.slider-desc,
.slider-value {
  color: var(--color-font-second);
}

.slider-key {
  font-size: var(--font-size-16);
}

.slider-value {
  font-size: var(--font-size-16);
}

/* Category */
.category-link {
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-800);
  line-height: var(--line-height-24);
  letter-spacing: var(--letter-spacing-dec);
  text-decoration: var(--text-decoration-none);

  color: inherit;
}

.service-desc {
  color: var(--color-font-second);
}

/* Promo Block */
.promo-block-link {

  font-family: var(--font-family-second);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-800);
  letter-spacing: var(--letter-spacing-4);
  text-transform: var(--text-transform-upper);
  text-decoration: var(--text-decoration-none);

  color: inherit;
  text-align: center;
  line-height: normal;

}

/* About */
.about-list {
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-20);
  letter-spacing: var(--letter-spacing-dec);
}

.about-desc,
.contacts-desc,
.address-contacts,
.contacts-phone,
.contacts-chedule-list {
  color: var(--color-font-second);
}

.address-contacts {
  font-style: var(--font-style-norm);
}

/* Contacts */
.contacts-phone {
  text-decoration: var(--text-decoration-none);
}

.contacts-subtitle {
  color: var(--color-font-second);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-700);

}

/* subscribe */
.subscribe-desc {
  color: var(--color-font-second);
}

.form-email::placeholder {
  color: var(--color-font-second);
  font-family: var(--font-family-basic);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-30);
  opacity: var(--opacity-05);
}

/* Inner Page */
/* Breadcrumbs */
.breadcrumbs-link {
  color: inherit;
  font-size: var(--font-size-16);
  line-height: var(--line-height-20);
  text-decoration: var(--text-decoration-none);
}

/* Form filter */
.subtitle {
  /* color: var(--basic-black, #000); */
  font-family: var(--font-family-second);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-800);
  letter-spacing: var(--letter-spacing-3-2);
  text-transform: var(--text-transform-upper);
  line-height: normal;
}

.form-fieldset {
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-20);
  letter-spacing: var(--letter-spacing-dec);
}

.filter-text,
.filter-range {
  color: var(--color-font-basic);
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
  opacity: var(--opacity-03);
  text-align: center;
}

.filter-label-text {
  font-size: var(--font-size-16);
  line-height: var(--line-height-20);
}

/* Sort */
.select-sort {
  color: var(--color-font-basic);
  font-family: var(--font-family-basic);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-20);
}

/* Card */
.card-title {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-20);
  letter-spacing: var(--letter-spacing-dec);
}

.card-price {
  color: var(--color-block-second);
  line-height: normal;
}

.card-link {
  color: inherit;
  text-decoration: var(--text-decoration-none);
}

/* Pagination */
.pagination-link-prev,
.pagination-link-next {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-800);
  text-decoration: var(--text-decoration-none);
  letter-spacing: var(--letter-spacing-3-6);
  line-height: normal;
   color: inherit;
}

.pagination-link {
  color: inherit;
  font-size: var(--font-size-16);
  text-decoration: var(--text-decoration-none);
  line-height: var(--line-height-20);
  opacity: var(--opacity-03);
}

.pagination-link-active {
  opacity: var(--opacity-06);
}

.pagination-link-disabled {
  opacity: var(--opacity-03);
}

/* Footer */
.footer-page {
  background-color: var(--background-color-second);
  font-size: var(--font-size-16);
  color: var(--color-font-footer);
}

.footer-content .address-contacts,
.footer-content .navigation-link {
  color: var(--color-font-footer);
}
