/* Fonts */
@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", "Arial", sans-serif;
  color: #444444;

  background-color: #ffffff;
}

.main-page {
  flex-grow: 1;
}

/* Общие стили */
.list-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.button {
  position: relative;
  z-index: 1;

  display: inline-block;
  padding: 6px 35px;

  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.2px;

  background-color: transparent;
  border: 3px solid #e5e5e5;
  cursor: pointer;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.button:hover {
  border-color: #000000;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  border-color: rgba(0, 0, 0, 0.3);
}

.button:focus {
  outline: none;
}

.button:focus::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  z-index: -1;

  border: 2px solid #af4fff;
}

.button-light {
  letter-spacing: 3.6px;
  border-color: transparent;
}

.button-light::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #ffe17f;
  transform: translateY(-50%);

  transition: height 0.3s ease-in-out;
}

.button-light:hover {
  border-color: transparent;
}

.button-light:hover::before {
  height: 100%;
}

.button-light:active {
  color: #000000;

  border-color: transparent;
}

.button-light:active::before {
  background-color: #ffcc33;
}

.button-dark {
  border-color: #c4c4c4;
}

.button-dark:hover {
  color: #ffffff;

  background-color: #000000;
}

.button-dark:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.button:disabled,
.button-disabled {
  opacity: 0.3;

  pointer-events: none;
}

.title {
  margin: 0;

  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
}

.subtitle {
  margin: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* // Общие стили */

/* Header */
.header-page {
  padding-top: 20px;
}

.header-container {
  padding-right: 60px;
  padding-bottom: 19px;
  padding-left: 60px;

  background-color: #ffe17f;
  background-image: linear-gradient(180deg, #ffffff 20px, #ffe17f 20px);
}

.logo-link-header {
  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 30px;
}

.logo-link-header:hover {
  opacity: 0.6;
}

.logo-link-header:active {
  opacity: 0.3;
}

.logo-link-header:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.header-user-container {
  display: grid;
  grid-template-columns: 517px 1fr;
  gap: 26px;
  align-items: center;
  margin-bottom: 31px;
}

/* form */
.form-search {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.form-search-label {
  position: relative;

  width: 100%;
  height: 100%;
}

.form-search-input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 15px 8px 46px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  color: #000000;

  background-color: transparent;
  background-image: url("../images/svg/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: 16px 16px;
  border: 2px solid #000000;
  border-right-width: 1px;
  border-radius: 50px 0 0 50px;
}

.form-search-input:focus {
  outline: none;
}

.form-search-label:focus-within::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;

  border: 2px solid #af4fff;
}

.form-search-input::placeholder {
  opacity: 0.3;
}

.form-search-input:hover {
  background-color: #dcdcdc;
}

.form-input-search:disabled {
  opacity: 0.1;
}

.search-button {
  width: 160px;
  padding: 8px 15px 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  text-transform: none;
  letter-spacing: normal;

  border: 2px solid #000000;
  border-left-width: 1px;
  border-radius: 0 50px 50px 0;
}

.search-button:disabled {
  opacity: 0.3;
}

.user-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.user-list-item {
  padding: 5px 0;
}

.user-list-item:first-child {
  margin-right: auto;
}

.user-list-link {
  display: inline-block;
  padding-left: 25px;

  color: #000000;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center left;
}

.user-list-link:hover {
  opacity: 0.6;
}

.user-list-link:active {
  opacity: 0.3;
}

.user-list-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.user-list-link-logout {
  padding: 0 8px;

  opacity: 0.3;
}

.user-icon-login {
  padding-left: 27px;

  background-image: url("../images/svg/icons/login.svg");
}

.user-icon-compare {
  padding-left: 22px;

  background-image: url("../images/svg/icons/sort.svg");
  background-position: center left;
}

.user-icon-basket {
  position: relative;

  padding-left: 40px;

  background-image: url("../images/svg/icons/cart.svg");
  background-position: center left 12px;
}

.basket-counter {
  position: absolute;
  top: 5px;
  left: -3px;
  z-index: 1;

  min-width: 21px;
  padding: 2px;

  font-size: 14px;
  line-height: 17px;
  text-align: center;

  background-color: #ffffff;
  border-radius: 50%;
}

.user-list-item-basket {
  position: relative;
}

.basket-container {
  position: absolute;
  right: -78px;
  z-index: 20;

  display: none;
  width: 320px;
  margin-top: 5px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.basket-container-active {
  display: block;
}

.user-list-item-basket:hover .basket-container,
.user-list-item-basket:focus-within .basket-container {
  display: block;
}

.basket-container::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 47%;

  border: 8px solid transparent;
  border-bottom: 8px solid #000000;
  transform: inherit;
}

.basket-list-item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 23px;
  padding: 20px;
}

.basket-list-link {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 23px;

  color: #ffffff;
  text-decoration: none;
}

.basket-list-link img {
  display: block;
  width: 39px;
  height: 43px;
}

.basket-list-link:hover {
  opacity: 0.6;
}

.basket-list-link:active {
  opacity: 0.3;
}

.basket-list-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.basket-title-link {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.button-basket-delete {
  position: relative;

  display: block;
  width: 16px;
  height: 16px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-basket-delete::before,
.button-basket-delete::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 1px;

  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.button-basket-delete::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.button-basket-delete::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.button-basket-delete:hover {
  opacity: 0.6;
}

.button-basket-delete:active {
  opacity: 0.3;
}

.button-basket-delete:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.basket-check {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 13px 20px;

  background-color: #1a1a1a;
}

.basket-check p {
  margin: 0;
}

.basket-open {
  padding: 20px;
}

.basket-button {
  width: 100%;
  padding: 11px;
  letter-spacing: 3.6px;
  background-color: #ffffff;
  border: none;
}

.basket-button:hover {
  background-color: #ffe17f;
}

/* navigation */
.navigation-list {
  position: relative;

  display: flex;
  gap: 44px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation-item {
  padding: 11px 0;
}

.navigation-link {
  font-weight: 800;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
}

.navigation-link-current {
  text-decoration: 2px;

  outline: none;

  pointer-events: none;
  text-decoration-color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 8px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* navigation catalog  */
.navigation-item-catalog {
  margin-right: auto;
  padding: 0;
}

.navigation-link-catalog {
  position: relative;
  z-index: 11;

  display: inline-block;
  padding: 10px 67px 10px 0;
}

.navigation-link-catalog span {
  position: absolute;
  top: 50%;
  right: 0;

  width: 50px;
  height: 50px;

  border: 2px solid #000000;
  border-radius: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
}

.navigation-link-catalog span::before,
.navigation-link-catalog span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 16px;
  height: 2px;

  background-color: #000000;
  transform: translate(-50%, -50%);
}

.navigation-link-catalog span::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.navigation-item-catalog:hover span::after,
.navigation-item-catalog:focus-within span::after {
  display: none;
}

.navigation-catalog-dropdown {
  position: absolute;
  top: 100%;
  right: -60px;
  left: -60px;
  z-index: 10;

  display: none;
  grid-template-columns: 222px repeat(auto-fill, minmax(135px, auto));
  gap: 30px;
  padding: 5px 60px 52px;

  background-color: #ffe17f;
}

.navigation-item-catalog:hover .navigation-catalog-dropdown,
.navigation-item-catalog:focus-within .navigation-catalog-dropdown {
  display: grid;
}

.dropdown-menu-item:not(:last-child) {
  margin-bottom: 6px;
}

.dropdown-menu-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.dropdown-menu-link:hover {
  opacity: 0.6;
}

.dropdown-menu-link:active {
  opacity: 0.3;
}

.dropdown-menu-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.dropdown-menu-link-current {
  text-decoration: 2px;

  outline: none;

  pointer-events: none;
  text-decoration-color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 6px;
}

/* slider */
.slider {
  margin-top: -19px;
  padding-bottom: 30px;
}

.slider-container {
  position: relative;
}

.slider-list {
  margin-bottom: 6px;
}

.slider-item {
  position: relative;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  background-color: #ffe17f;
  background-image: linear-gradient(180deg, #ffe17f 133px, #ffffff 133px);
}

.slider-counter {
  position: absolute;
  top: 65px;
  right: 50px;

  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.slider-item-active {
  display: grid;
}

.slider-wrapper-image {
  height: 522px;
  margin: 0;
}

.slider-img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider-content {
  position: relative;
  z-index: 1;

  padding: 104px 0 20px;
}

.slider-title {
  margin: -1px 0 28px;
}

.slider-desc {
  margin: 0 0 51px;
}

.slider-button {
  margin-bottom: 50px;
}

.slider-params {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0;
}

.slider-value {
  margin-bottom: 12px;

  font-size: 36px;
  color: #000000;
}

.slider-key {
  margin: 0;

  font-size: 16px;
}

.slider-arrows-container {
  position: absolute;
  top: 41%;
  left: 30px;

  display: flex;
  justify-content: space-between;
  width: 530px;

  transform: translateY(-50%);
}

.slider-arrow {
  display: inline-block;
  width: 20px;
  height: 61px;

  background-color: transparent;
  background-image: url("../images/svg/icons/left-tall-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.slider-arrow-next {
  transform: rotate(180deg);
}

.slider-arrow:hover {
  opacity: 0.6;
}

.slider-arrow:active {
  opacity: 0.3;
}

.slider-arrow:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-arrow:disabled,
.slider-arrow-disabled {
  opacity: 0.1;
}

.slider-pagination-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.slider-pagination-button {
  position: relative;

  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  outline: none;
}

.slider-pagination-button:focus::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;

  border: 2px solid #af4fff;
}

.slider-pagination-button-active {
  background-color: #000000;
}

/* category */
.category {
  padding: 41px 0 48px;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.category-link {
  position: relative;

  display: block;

  font-weight: 800;
  line-height: 24px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.36px;
}

.category-link::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;

  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.category-link:hover:before {
  background-color: #ffc700;
}

.category-link:active {
  opacity: 0.3;
}

.category-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.category-link-vr::before {
  background-image: url("../images/svg/category/virtual-reality.svg");
}

.category-link-monopod::before {
  background-image: url("../images/svg/category/selfie-monopods.svg");
}

.category-link-action-cameras::before {
  background-image: url("../images/svg/category/action-cameras.svg");
}

.category-link-fitness-bracelets::before {
  background-image: url("../images/svg/category/fitness-bracelets.svg");
}

.category-link-smart-watch::before {
  background-image: url("../images/svg/category/smart-watch.svg");
}

.category-link-quadcopters::before {
  background-image: url("../images/svg/category/quadcopters.svg");
}

/* services */
.services {
  padding: 34px 0 70px;

  background-color: #f0f0f0;
  background-image: linear-gradient(0deg, #f0f0f0 68%, #ffffff 68%);
}

.services-container {
  display: grid;
  grid-template-columns: 287px 1fr;
}

.services-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 36px;
  align-content: center;
  border-right: 7px solid #000000;
}

/*  button  */
.services-menu-button {
  width: 164px;
  font-family: "Raleway", "Arial", sans-serif;
  letter-spacing: 3.6px;
  color: #000000;
  border: none;;
  padding: 10px 18px 9px;
  transition: width .3s ease-in-out;
}

.button-current {
  width: 280px;
  text-align-last: left;
  color: #f7e296;
  background-color: #000;
}

.button-current:hover,
.button-current:active {
  color: #f7e296;
  padding-left: 60px;
}

.button-current::before {
  content: none;
}
/* // button  */

.services-item {
  display: none;
  padding: 73px 260px 72px 116px;

  background-repeat: no-repeat;
  background-position: center right 63px;
}

.services-item-active {
  display: block;
}

.services-item-delivery {
  background-image: url("../images/svg/services/delivery.svg");
}

.services-item-guarantee {
  background-image: url("../images/svg/services/guarantee.svg");
}

.services-item-credit {
  background-image: url("../images/svg/services/credit.svg");
}

.services-title {
  margin: 0 0 34px;
}

.service-text {
  margin: 0;
}

.service-text + .service-text {
  margin-top: 20px;
}

/* promo-block */
.promo-block {
  padding: 73px 0 69px;
}

.promo-block-link {
  position: relative;

  display: block;
  padding: 40px 130px 37px;

  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  font-family: "Raleway", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;

  background-color: #f0f0f0;
}

.promo-block-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 125px;
  height: 100%;

  background-color: #ffe17f;
  background-image: url("../images/svg/services/delivery-car.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 47px 32px;
}

.promo-block-info {
  position: absolute;
  top: 50%;
  right: 42px;

  display: block;
  width: 40px;
  height: 40px;

  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
  transform: translateY(-50%);
}

.promo-block-info::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 12px;

  background-image: url("../images/svg/icons/info.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.promo-block-link:hover::before {
  background-color: #ffc700;
}

.promo-block-link:hover span::after {
  opacity: 1;
}

.promo-block-link:active {
  opacity: 0.3;
}

.promo-block-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* contacts info */
.wrapper-contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 96px;
  padding-bottom: 20px;
}

.info {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-content: start;
  padding: 48px 0;

  justify-items: start;
}

.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 84px;
  height: 7px;

  background-color: #000000;
}

.info-title {
  position: relative;

  margin-bottom: 17px;
}

.info-desc {
  margin: 0;
}

/* About */
.info-item {
  position: relative;

  padding-left: 38px;

  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.36px;
}

.info-item:not(:last-child) {
  margin-bottom: 19px;
}

.info-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: #ffc700;
  border-radius: 50%;
  transform: translateY(-50%);
}

.about-button {
  margin-top: -1px;
  padding: 8px 21px;
}

.contacts-button {
  margin-top: -1px;
  padding: 8px 31px;
}

/* Contacts */
.info-subtitle {
  margin: 0 0 15px;

  font-weight: 700;
  font-size: 24px;
}

.address-info {
  font-style: normal;
}

.address-phone {
  color: inherit;
  text-decoration: underline;
}

.address-desc {
  margin: 0;
}

.address-phone:hover {
  opacity: 0.6;
}

.address-phone:active {
  opacity: 0.3;
}

.address-phone:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* subscribe */
.subscribe {
  padding: 63px 0 56px;
  background-color: #f0f0f0;
}

.subscribe-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 144px 52px;
  align-items: center;
}

.subscribe-title {
  grid-column: span 2;
  padding-top: 2px;
  padding-left: 7px;
}

.subscribe-desc {
  grid-column: span 2;
  margin: 10px 0 0;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column: span 3;
  max-width: 810px;
}

.form-input-email {
  display: block;
  width: 100%;
  padding: 10px 17px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", "Arial", sans-serif;
  color: #444444;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
}

.form-input-email::placeholder {
  opacity: 0.5;
}

.form-input-email:focus,
.form-input-email:hover {
  background-color: #dcdcdc;
  outline: none;
}

@supports not selector(:focus) {
  .form-input-email:focus {
    background-color: #dcdcdc;
    outline: none;
  }
}

.form-input-error {
  border-color: #ff3d3d;
}

/* Состояние disabled */
.form-input-email:disabled {
  opacity: 0.3;

  pointer-events: none;
}

/* .button-subscribe  */
.subscribe-button {
  width: 252px;
  padding: 14px 7px 14px 12px;

  letter-spacing: 3.6px;
}

.subscribe-info {
  margin: 0 0 0 auto;
  padding-left: 33px;

  background-image: url("../images/svg/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

/* Inner page */
/* intro */
.intro {
  padding: 34px 0 34px;
}

.intro-container {
  padding: 0 60px;
}

.main-page-title {
  margin-bottom: 16px;
}

/* breadcrumbs */
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";

  display: block;
  width: 4px;
  height: 7px;
  margin: 0 16px;

  background-image: url("../images/svg/icons/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.breadcrumbs-link-current {
  pointer-events: none;
}

/* catalog */
.catalog {
  background-color: #f0f0f0;
}

.catalog-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.form {
  width: 320px;
  padding: 24px 37px 5px 60px;
}

.filter-subtitle {
  margin-bottom: 58px;
}

/* filter */
.filter-fieldset-group {
  width: 200px;
  margin: 0;
  border: none;
  border-top: 2px solid #000000;
  padding: 11px 0 29px;
}

.fieldset-group-price {
  padding-bottom: 35px;
}

.filter-fieldset-group-radio {
  margin-top: 4px;
  margin-bottom: 4px;
}

.filter-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.36px;
  margin: 1px 0 20px;
}

.filter-legend-price {
  margin-bottom: 28px;
}


/* range */
.range-container {
  width: 200px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 11px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  opacity: 0.5;
}

.range-toggle:active {
  background-color: #000000;
  opacity: 1;
}

.range-toggle:focus::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border: 2px solid #af4fff;
}

.range-toggle:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

/* inputs */
.range-wrapper-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  align-items: center;
  margin-left: -18px;
}

.catalog-filter-label {
  display: grid;
  align-items: center;
}

.range-value {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;

  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.range-input[type="number"]::-webkit-outer-spin-button,
.range-input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none;
}

.range-input[type="number"] {
  -moz-appearance: textfield;
}

.range-input {
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 16px;

  width: 56px;
  height: 20px;

  font-family: "Rubik", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: 2px solid transparent;
  appearance: textfield;
}

.range-input:hover {
  background-color: #dcdcdc;
}

.range-input:focus  {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.range-input:disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* checkbox */
.filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.filter-label {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  width: fit-content;
}

.filter-input {
  position: relative;

  width: 20px;
  height: 20px;
  margin: 0;

  background-color: transparent;
  border: 2px solid #cccccc;
  border-radius: 3px;
  cursor: pointer;

  appearance: none;
}

.filter-label:hover {
  opacity: 0.6;
}

.filter-label:active {
  opacity: 0.3;
}

.filter-label:focus {
  outline: none;
}

.filter-input:focus::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;

  border: 2px solid #af4fff;
}

.filter-input:disabled,
.filter-input:disabled ~ .filter-label-text {
  opacity: 0.1;
}

.filter-input:checked {
  border-color: #000000;
}

.filter-input-check:checked {
  background-image: url("../images/svg/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* radio */
.filter-input-radio {
  border-radius: 50%;
}

.filter-input-radio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.filter-label-text {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

/* Стилизация кнопки */
.filter-button {
  width: 220px;
  padding: 12px 46px;
}

/* sort */
.sort-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px 14px;
}

.select-sort {
  width: 141px;
  padding: 5px 30px 5px 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", "Arial", sans-serif;
  color: #000000;

  background-color: transparent;
  background-image: url("../images/svg/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 13px 8px;
  border: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
          appearance: none;
}

.select-sort:hover {
  opacity: 0.6;
}

.select-sort:active {
  opacity: 0.3;
}

.select-sort:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.select-sort:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.sort-direction {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

.sort-direction-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.sort-direction-link::after {
  content: "";

  display: block;
  width: 11px;
  height: 10px;

  background-image: url("../images/svg/icons/arrow-sort.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.sort-direction-link-asc {
  transform: rotate(180deg);
}

.sort-direction-link:hover::after {
  opacity: 0.5;
}

.sort-direction-link:active::after {
  opacity: 1;
}

.sort-direction-link:focus {
  outline: none;
}

.sort-direction-link:focus::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border: 2px solid #af4fff;
  opacity: 1;
}

/* product card */
.product-card {
  padding: 71px 40px 78px 40px;

  background-color: #ffffff;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 40px;
  margin-bottom: 44px;
}

.card-items-new {
  position: relative;
}

.card-items-new::before {
  content: "new";
  position: absolute;
  top: 27px;
  right: 27px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  min-height: 60px;

  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  font-family: "Raleway", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  letter-spacing: 2.8px;

  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.card-link {
  display: block;

  color: #000000;
  text-decoration: none;
}

.card-imgage {
  position: relative;

  margin-bottom: 32px;
}

.card-photo {
  display: block;
  width: 100%;
  height: 100%;
}

.card-imgage::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: none;

  background-color: rgba(240, 240, 240, 0.8);
}

.card-image-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;

  display: none;

  transform: translate(-50%, -50%);
}

.card-description {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.card-title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.36px;
}

.card-price {
  margin: 0;

  text-align: right;
}

.card-link:hover .card-imgage::after,
.card-link:hover .card-image-button {
  display: block;
}

.card-link:hover .card-description {
  opacity: 0.6;
}

.card-link:active .card-description {
  opacity: 0.3;
}

.card-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-card-more {
  display: block;
  margin-bottom: 44px;
  padding: 15px;

  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;
}

/* pagination page */
.pagination-page {
  display: grid;
  grid-template-columns: minmax(auto, 150px) 1fr minmax(auto, 150px);
  gap: 25px;
  align-items: center;

  background-color: #ebebeb;
}

.pagination-button {
  display: inline-block;
  padding: 21px 25px 20px;

  font-weight: 800;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
}

.pagination-button-next {
  padding: 20px 34px 20px;
}

.pagination-button:hover {
  background-color: #dcdcdc;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #dcdcdc;
}

.pagination-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-button-disabled,
.pagination-button:disabled {
  color: rgba(68, 68, 68, 0.3);

  background-color: #ebebeb;

  pointer-events: none;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  display: block;
  min-width: 40px;
  padding: 15px 2px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
}

.pagination-link:hover {
  color: #444444;
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-link:focus {
  outline: 2px solid #af4fff;
}

.pagination-link-more {
  padding: 5px 0;
}

.pagination-link-current {
  color: rgba(68, 68, 68, 0.6);

  pointer-events: none;
}

/* Footer */
.footer-page {
  padding-top: 61px;
  padding-bottom: 62px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #444444;
}

.logo-link-footer {
  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 36px;

  cursor: pointer;
}

.logo-link-footer:hover {
  opacity: 0.6;
}

.logo-link-footer:active {
  opacity: 0.3;
}

.logo-link-footer:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-content {
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  gap: 48px 20px;
  align-items: center;
}

.footer-content::before {
  content: "";

  width: 80px;
  height: 7px;

  background-color: #ffc700;
}

.footer-content .address-info {
  order: -1;
}

.footer-navigation {
  gap: 29px;
  order: -1;
  margin: 0 auto;
}

.footer-navigation .navigation-item {
  margin-bottom: 10px;
  padding: 0;
}

.footer-navigation .navigation-link {
  color: #ffffff;
  letter-spacing: 5px;
}

.footer-page .navigation-link:hover {
  color: #ffc700;
  text-decoration: 2px;

  outline: none;
  opacity: 1;

  text-decoration-color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 8px;
}

.footer-page .navigation-link:active {
  color: #ffc700;

  opacity: 0.3;
}

.footer-content .address-text {
  margin-bottom: 0;

  font-size: 16px;
}

.footer-content .address-phone {
  order: -1;
  margin-left: auto;
}

.footer-content .address-phone:hover {
  color: #ffc700;

  opacity: 1;
}

.footer-content .address-phone:active {
  color: #ffc700;
}

.htmlacademy-link {
  display: block;
  width: 115px;
  height: 34px;
  margin-left: auto;
}

.htmlacademy-link::after {
  content: "";

  display: block;
  width: 115px;
  height: 34px;

  background-color: #ffc700;

  transition: background-color 0.3s ease-in;

  -webkit-mask: url("../images/svg/logo-company.svg");
          mask: url("../images/svg/logo-company.svg");
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
}

.htmlacademy-link:hover::after {
  background-color: #ffffff;
}

.htmlacademy-link:active::after {
  opacity: 0.3;
}

.htmlacademy-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Social list */
.social-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
  justify-content: center;
}

.social-list-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid transparent;
  border-radius: 50%;
}

.social-list-link:hover {
  background-color: #ffc700;
}

.social-list-link:active:after {
  opacity: 0.3;
}

.social-list-link:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.social-list-link:focus::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;

  border: 2px solid #af4fff;
}

.social-list-link::after {
  content: "";

  display: block;
  width: 16px;
  height: 14px;

  background-color: #444444;

  transition: background-color 0.3s ease-in;

  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
}

.social-icon-telegram::after {
  -webkit-mask-image: url("../images/svg/social/telegram.svg");
          mask-image: url("../images/svg/social/telegram.svg");
}

.social-icon-tvitter::after {
  -webkit-mask-image: url("../images/svg/social/twitter.svg");
          mask-image: url("../images/svg/social/twitter.svg");
}

.social-icon-youtube::after {
  -webkit-mask-image: url("../images/svg/social/youtube.svg");
          mask-image: url("../images/svg/socialyoutube.svg");
}

/* modal window */
.modal-window {
  z-index: 30;

  width: 920px;
  padding: 0;

  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

.modal-window::backdrop {
  background-color: rgba(240, 240, 240, 0.9);
}

/* modal button close */
.button-modal-close {
  position: absolute;
  top: 74px;
  right: 70px;

  width: 26px;
  height: 26px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-modal-close::after,
.button-modal-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 30px;
  height: 3px;

  background-color: #000000;
  transform: translate(-50%, -50%);
}

.button-modal-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.button-modal-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.button-modal-close:hover {
  opacity: 0.6;
}

.button-modal-close:active {
  opacity: 0.3;
}

.button-modal-close:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* modal container */
.modal-container {
  padding: 62px 70px 60px;
}

.modal-delivery-title {
  margin: 0 0 41px;
}

/* form */
.modal-delivery-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 9px;
  justify-content: start;
  align-items: baseline;
}

.modal-fieldset-group {
  display: flex;
  grid-column: span 2;
  flex-direction: column;
  max-width: 360px;
  margin: 0;
  padding: 0;

  border: none;
}

.modal-fieldset-email {
  padding-left: 2px;
}

.modal-fieldset-textarea {
  grid-column: span 3;
  max-width: 540px;
}

.modal-fieldset-couner {
  grid-column: span 1;
  max-width: 180px;
}

.modal-form-label {
  margin-bottom: 14px;

  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.36px;
}

.modal-form-input {
  width: 100%;
  height: 60px;
  padding: 9px 50px 10px 18px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  color: #000000;

  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center right 18px;
  border: 2px solid transparent;
}

.modal-form-input:hover {
  background-color: #dcdcdc;
}

.modal-form-input:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-form-input:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.modal-form-input::placeholder {
  opacity: 0.3;
}

.modal-form-input-name {
  background-image: url("../images/svg/icons/user.svg");
}

.modal-form-input-email {
  background-image: url("../images/svg/icons/email.svg");
}

.modal-form-textarea {
  padding-top: 17px;

  resize: none;
}

.modal-fieldset-group-error .modal-form-input {
  border: 2px solid #ff3d3d;
}

.modal-form-notice {
  display: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.modal-fieldset-group-valid .modal-form-notice {
  display: inline-block;
}

.modal-fieldset-group-error .modal-form-notice {
  display: inline-block;

  color: #ff3d3d;
}

.modal-form-input-with-buttons {
  position: relative;
}

.modal-form-input[type="number"]::-webkit-outer-spin-button,
.modal-form-input[type="number"]::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
          appearance: none;
}

.modal-form-input[type="number"] {
  -moz-appearance: textfield;
}

.modal-form-input-number {
  padding: 5px 65px;
  text-align: center;
}

/* button */
.modal-form-button-edit {
  position: absolute;
  top: 0;

  display: block;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: 2px solid transparent;
  outline-offset: -2px;
  cursor: pointer;

  appearance: none;
}

.modal-form-button-decreas {
  left: 0;
}

.modal-form-button-increase {
  right: 0;
}

.modal-form-button-edit::before,
.modal-form-button-edit::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 16px;
  height: 2px;

  background-color: #000000;
  transform: translate(-50%, -50%);
}

.modal-form-button-edit::after {
  transform: translate(-50%, -50%);
}

.modal-form-button-decreas::after {
  display: none;
}

.modal-form-button-increase::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.modal-form-button-edit:hover {
  background-color: #ebebeb;
}

.modal-form-button-edit::before,
.modal-form-button-edit::after {
  opacity: 0.6;
}

.modal-form-button-edit:active {
  background-color: #f0f0f0;
}

.modal-form-button-edit:active::before,
.modal-form-button-edit:active::after {
  opacity: 0.3;
}

.modal-form-button-edit:focus {
  background-color: #f0f0f0;
  outline: 2px solid #af4fff;
}

.modal-form-button-edit:disabled::before,
.modal-form-button-edit:disabled::after {
  background-color: rgba(0, 0, 0, 0.3);
}

/* tooltip */
.modal-label-with-tooltip {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.modal-tooltip {
  position: relative;
}

.modal-form-label-tooltip {
  margin: 0;
  margin-left: -3px;
}

.modal-tooltip-text {
  position: absolute;
  top: 16px;
  right: -75px;
  z-index: 1;

  display: none;
  width: 200px;
  margin-top: 20px;
  padding: 20px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background: #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

.modal-tooltip-text::after {
  content: "";
  position: absolute;
  right: 40%;
  bottom: 100%;

  border: 8px solid transparent;
  border-bottom: 8px solid #000000;
}

/* button */
.modal-tooltip-toggle {
  position: relative;

  display: block;
  width: 26px;
  height: 26px;
  padding: 0;

  background-color: #ffe17f;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.modal-tooltip-toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 12px;

  background-image: url("../images/svg/icons/info.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.modal-tooltip:hover .modal-tooltip-text,
.modal-tooltip:focus-within .modal-tooltip-text {
  display: block;
}

.modal-form-button {
  padding: 8px 28px;
}
