*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  background-color: #fff;
  color: #000;
}

/* Input */
input[type=text]:placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}

/* Button */
.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: inherit;
}

.button,
.button-form-search {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.button-form-search {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;


}

/* Navigation */
.navigation,
.user-list {
  font-size: 16px;
  line-height: 18px;
}

.navigation-list-link,
.user-list-link {
  color: inherit;
  text-decoration: none;
}

.navigation-list-link-catalog {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.navigation-list-item,
.user-list-item {
  list-style-type: none;
}

/* Title */
.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

/* Slider */
.slider-promo-number {
  /* color: #FFF; */
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
}

.slider-promo-desc {
  font-size: 18px;
  color: #444;
}

.promo-specifications-list {}

.promo-specifications-list-term {
  font-size: 36px;
}

.promo-specifications-list-definition {
  font-size: 16px;
  color: #444;
}

/* Popular */
.popular-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
}

/* Services */
.service-desc {
  color: #444;
}

.services-info {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/* About */
.section-about,
.section-contacts {
  color: #444;
}

.about-list {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000;
}

.about-item {
  list-style-type: none;
}

.address-text {
  font-style: normal;
}

/* Contacts */
.section-contacts .address-text {
  color: #444;
}

.contacts-phone {
  font-style: normal;
  text-decoration-line: underline;
}

.section-contacts .contacts-phone {
  color: #444;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-chedule-item {
  list-style-type: none;
}

/* Subscribe */
.section-subscribe {
  color: #444;
}

.subscribe-title {
  color: #000;
}

/* Breadcrumbs-list */
.breadcrumbs-list {
  font-size: 16px;
  line-height: 20px;
}

.breadcrumbs-item {
  list-style-type: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
}

/* Filter */
.subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

/* Form */
.form-legend {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.filter-span {
  font-size: 16px;
  line-height: 20px;
}

/* Card */
.card-label {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.8px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.60);
}

.card-items {
  list-style-type: none;
}

.card-title,
.card-title .card-link{
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: inherit;
}

.card-title .card-link {
  text-decoration: none;
}

.card-price {
  color: #444;
  font-size: 18px;
  line-height: normal;
}

/* Pagination */
.pagination-page {
  background-color: #EBEBEB;
}

.pagination-list-item {
  list-style-type: none;
}

.pagination-list-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444;
  opacity: 0.6;
}

.pagination-llink-prev{
  opacity: 0.3;
}

.pagination-link-next {
  color: #000;
}

/* Footer */
.footer-page {
  /* background-color: #444; */
  /* color: #fff; */
}

.footer-page .address-text {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  /* color: #fff; */

}

footer-menu-list {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-menu-items {
  list-style-type: none;
}

.footer-menu-link {
  /* color: #fff; */
  text-decoration: none;
}

.footer-page .contacts-phone {
  font-size: 16px;
  line-height: 20px;
  /* color: #fff; */
}
